<header>
  <div class="header_contents">
    <h1 class="header_title"><a class="header_link" href="/">Yuma Katsuta</a></h1>
    <nav>
      <ul class="headerNav">
        <li class="headerNav_item">
          <a class="headerNav_link" href="/">HOME</a>
        </li>
        <li class="headerNav_item">
          <a class="headerNav_link" href="../about.html">ABOUT</a>
        </li>
        <li class="headerNav_item">
          <a class="headerNav_link" href="../recommend.html">RECOM.</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
